<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.slide.sgu"
    android:versionCode="14"
    android:versionName="1.4.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_actionbar_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sgu" >
        
        <!-- Activities -->
        <activity
            android:name="se.slide.sgu.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.slide.sgu.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Sgu"
            android:parentActivityName="se.slide.sgu.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.slide.sgu.StartActivity" />
        </activity>
        <activity
            android:name="se.slide.sgu.AboutActivity"
            android:label="@string/action_about"
            android:theme="@style/Theme.Sgu"
            android:parentActivityName="se.slide.sgu.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.slide.sgu.StartActivity" />
        </activity>
        
        <!-- Services -->
        <service android:name="se.slide.sgu.DownloaderService" />
        <service android:name="se.slide.sgu.AudioPlayer" />

        <!-- Receivers -->
        <receiver android:name="se.slide.sgu.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
        <receiver android:name="se.slide.sgu.StartDownloadReceiver"></receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="5ed0746b8daa9e45a4b43ba68c996373bf3dc9ac"/>
    </application>

</manifest>
